extends _layout

block content
	.container
		h1 Instructions
		p
			| Select what you want to practice (scientific names, common names, or both), and click 'Start Game'.
			br
			br
			| Type your answer into the input box. You do not need to capitalize, but spelling counts! Submit by clicking 'Submit' or pressing the 'Enter' key. 
			br
			br
			| Your current correct/incorrect record is displayed at the bottom. If you get stuck, 'Show Answer' will display the correct common/scientific name. Clicking 'Skip' will go on to the next image without displaying the answer, and will count as a wrong answer. Have fun!

		p If you find this tool useful, please consider donating a few dollars to my new laptop fund! 💕
		a#donate-button(href="http://paypal.me/myu0") DONATE

		a(href="/") CLOSE