extends layout.jade
block content
	.container
		div#image-container
			img(src="/static/imgs/Dreissena_polymorpha/1.jpg", alt="img failed to load")
	#input-container.container
		.input-group
			input.form-control(type='text', placeholder='Answer')
			span.input-group-btn
				button#submit.btn.btn-primary(type='button') Submit
				button#show-ans.btn.btn-default(type='button') Show Answer
		h4#answer
		#result.alert.alert-success(role="alert") Correct!