extends layout.jade
block content
	#wrap.container
		#start-game.btn.btn-default.btn-lg Start Game
		#options.container
			.checkbox
				input#sci-names(type="checkbox",checked="true")
				| Scientific Names
			.checkbox
				input#common-names(type="checkbox",checked="true")
				| Common Names
		#image-container.hidden.container
			img(src="", alt="img failed to load")
		#input-container.container
			.input-group
				input.form-control(type='text', placeholder='Answer')
				span.input-group-btn
					button#submit.btn.btn-primary(type='button') Submit
					button#show-ans.btn.btn-default(type='button') Show Answer
			h4#answer.hidden
			#result.alert.alert-success.hidden(role="alert") Correct!
		#stats.container
			li
				.fa.fa-check
				span#correct 0
			li
				.fa.fa-times
				span#wrong 0
			span#divider
			li
				span#percent 0%