extends _layout.jade
block content
  #wrap.container
    a#start-game START
    #image-container.hidden.container
      #loading-wrapper.hidden
        #loading
      img(src="", alt="img failed to load")
    #input-container.container.text-center.hidden
      input#answer-box(type='text', placeholder='Answer')
      #controls
        a.fa.fa-eye#show-ans
        a.fa.fa-angle-right#skip
        a.fa.fa-info#help-button(href="/help", target="_")
      h4#answer.hidden
      #result.hidden(role="alert") Correct!
    #stats.container.hidden
      li
        .fa.fa-check
        span#correct 0
      li
        .fa.fa-times
        span#wrong 0
      span#divider
      li
        span#percent 0% 
    #options.container
      .checkbox
        input#sci-names(type="checkbox",checked="true")
        | Scientific Names
      .checkbox
        input#common-names(type="checkbox",checked="true")
        | Common Names